In [1]:
import pandas as pd
import numpy as np
from os import path

In [2]:
DATA_DIR = "../../data"

In [36]:
chen_data = pd.read_csv(path.join(DATA_DIR, "chen/deduplicated/chen_data.csv"), index_col=0)
chen_data.head()

,Antibody_ID,heavy,light,Y
0,12e8,EVQLQQSGAEVVRSGASVKLSCTASGFNIKDYYIHWVKQRPEKGLE...,DIVMTQSQKFMSTSVGDRVSITCKASQNVGTAVAWYQQKPGQSPKL...,0
1,15c8,EVQLQQSGAELVKPGASVKLSCTASGFNIKDTYMHWVKQKPEQGLE...,DIVLTQSPAIMSASLGERVTMTCTASSSVSSSNLHWYQQKPGSSPK...,0
2,1a0q,EVQLQESDAELVKPGASVKISCKASGYTFTDHVIHWVKQKPEQGLE...,DIELTQSPSSLSASLGGKVTITCKASQDIKKYIGWYQHKPGKQPRL...,1
3,1a14,QVQLQQSGAELVKPGASVRMSCKASGYTFTNYNMYWVKQSPGQGLE...,DIELTQTTSSLSASLGDRVTISCRASQDISNYLNWYQQNPDGTVKL...,0
4,1a2y,QVQLQESGPGLVAPSQSLSITCTVSGFSLTGYGVNWVRQPPGKGLE...,DIVLTQSPASLSASVGETVTITCRASGNIHNYLAWYQQKQGKSPQL...,0

In [37]:
tap_data = pd.read_csv(path.join(DATA_DIR, "tap/TAP_data.csv"), index_col=0)
tap_data.head()

,heavy,light,CDR_length,PSH,PPC,PNC,SFvCSP,Y
Antibody_ID,,,,,,,,
Abagovomab,QVKLQESGAELARPGASVKLSCKASGYTFTNYWMQWVKQRPGQGLD...,DIELTQSPASLSASVGETVTITCQASENIYSYLAWHQQKQGKSPQL...,46,129.7603,0.0000,0.0000,16.32,1
Abituzumab,QVQLQQSGGELAKPGASVKVSCKASGYTFSSFWMHWVRQAPGQGLE...,DIQMTQSPSSLSASVGDRVTITCRASQDISNYLAWYQQKPGKAPKL...,45,115.9106,0.0954,0.0421,-3.10,1
Abrilumab,QVQLVQSGAEVKKPGASVKVSCKVSGYTLSDLSIHWVRQAPGKGLE...,DIQMTQSPSSVSASVGDRVTITCRASQGISSWLAWYQQKPGKAPKL...,45,109.6995,0.0000,0.8965,-4.00,1
Actoxumab,QVQLVESGGGVVQPGRSLRLSCAASGFSFSNYGMHWVRQAPGKGLE...,DIQMTQSPSSVSASVGDRVTITCRASQGISSWLAWYQHKPGKAPKL...,49,112.6290,0.0000,1.1247,3.10,1
Adalimumab,EVQLVESGGGLVQPGRSLRLSCAASGFTFDDYAMHWVRQAPGKGLE...,DIQMTQSPSSLSASVGDRVTITCRASQGIRNYLAWYQQKPGKAPKL...,48,111.2512,0.0485,1.1364,-19.50,1

In [48]:
# Chen
heavy_df_chen = pd.read_csv(path.join(DATA_DIR, "chen/abnumber/chen_heavy_chain_numbering.csv"), index_col=0)
light_df_chen = pd.read_csv(path.join(DATA_DIR, "chen/abnumber/chen_light_chain_numbering.csv"), index_col=0)
heavy_df_chen.head()

,Ab_ID,species,chain_type,1,2,3,3A,4,4A,5,...,119,120,121,122,123,124,125,126,127,128
0,12e8,mouse,H,E,V,Q,-,L,-,Q,...,G,Q,G,T,L,V,T,V,S,A
1,15c8,mouse,H,E,V,Q,-,L,-,Q,...,G,Q,G,T,T,L,T,V,S,S
2,1a0q,mouse,H,E,V,Q,-,L,-,Q,...,G,Q,G,T,T,L,T,V,S,S
3,1a14,mouse,H,Q,V,Q,-,L,-,Q,...,G,Q,G,T,T,V,T,V,-,-
4,1a2y,mouse,H,Q,V,Q,-,L,-,Q,...,G,Q,G,T,T,L,T,V,S,S

In [49]:
# TAP
heavy_df_tap = pd.read_csv(path.join(DATA_DIR, "tap/abnumber/tap_heavy_chain_numbering.csv"), index_col=0)
light_df_tap = pd.read_csv(path.join(DATA_DIR, "tap/abnumber/tap_light_chain_numbering.csv"), index_col=0)
heavy_df_tap.head()

,Ab_ID,species,chain_type,1,2,3,4,5,6,7,...,119,120,121,122,123,124,125,126,127,128
0,Abagovomab,mouse,H,Q,V,K,L,Q,E,S,...,G,Q,G,T,T,V,T,V,S,S
1,Abituzumab,mouse,H,Q,V,Q,L,Q,Q,S,...,G,Q,G,T,T,V,T,V,S,S
2,Abrilumab,human,H,Q,V,Q,L,V,Q,S,...,G,Q,G,T,L,V,T,V,S,S
3,Actoxumab,alpaca,H,Q,V,Q,L,V,E,S,...,G,Q,G,T,V,V,T,V,S,S
4,Adalimumab,alpaca,H,E,V,Q,L,V,E,S,...,G,Q,G,T,L,V,T,V,S,S

In [50]:
REF_COLS_HEAVY = heavy_df_chen.columns
REF_COLS_LIGHT = light_df_chen.columns

In [41]:
len(REF_COLS_HEAVY)

207

In [42]:
heavy_df_tap.reindex(columns=REF_COLS_HEAVY, fill_value="-")

,Ab_ID,species,chain_type,1,2,3,3A,4,4A,5,...,119,120,121,122,123,124,125,126,127,128
0,Abagovomab,mouse,H,Q,V,K,-,L,-,Q,...,G,Q,G,T,T,V,T,V,S,S
1,Abituzumab,mouse,H,Q,V,Q,-,L,-,Q,...,G,Q,G,T,T,V,T,V,S,S
2,Abrilumab,human,H,Q,V,Q,-,L,-,V,...,G,Q,G,T,L,V,T,V,S,S
3,Actoxumab,alpaca,H,Q,V,Q,-,L,-,V,...,G,Q,G,T,V,V,T,V,S,S
4,Adalimumab,alpaca,H,E,V,Q,-,L,-,V,...,G,Q,G,T,L,V,T,V,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Visilizumab,mouse,H,Q,V,Q,-,L,-,V,...,G,Q,G,T,L,V,T,V,S,S
237,Vonlerolizumab,human,H,E,V,Q,-,L,-,V,...,G,Q,G,T,L,V,T,V,S,S
238,Zalutumumab,alpaca,H,Q,V,Q,-,L,-,V,...,G,Q,G,T,L,V,T,V,S,S
239,Zanolimumab,human,H,Q,V,Q,-,L,-,Q,...,G,Q,G,T,L,V,T,V,S,S
240,Zolbetuximab (Claudiximab),mouse,H,Q,V,Q,-,L,-,Q,...,G,Q,G,T,T,L,T,V,S,S

In [51]:
heavy_df_tap = heavy_df_tap.reindex(columns=REF_COLS_HEAVY, fill_value="-")
light_df_tap = light_df_tap.reindex(columns=REF_COLS_LIGHT, fill_value="-")

In [44]:
heavy_df_tap.to_csv(path.join(DATA_DIR, "tap/abnumber/tap_heavy_chain_numbering_unified.csv"))
light_df_tap.to_csv(path.join(DATA_DIR, "tap/abnumber/tap_light_chain_numbering_unified.csv"))

In [20]:
pd.get_dummies(heavy_df_chen.drop(["Ab_ID", "species", "chain_type"], axis=1))

,1_-,1_A,1_D,1_E,1_G,1_K,1_L,1_M,1_N,1_P,...,128_E,128_F,128_G,128_L,128_N,128_P,128_R,128_S,128_T,128_V
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2405,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2406,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2407,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2408,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [21]:
# Do I need each amino acid in each column?

In [22]:
len(heavy_df_chen.drop(["Ab_ID", "species", "chain_type"], axis=1).columns)

204

In [46]:
len(light_df_chen.columns)

141

In [52]:
aas = "ACDEFGHIKLMNPQRSTVWY-"
for i, aa in enumerate(aas):
    heavy_df_chen.loc[i + 2409] = [aa] * 207
    heavy_df_tap.loc[i + 241] = [aa] * 207
    light_df_chen.loc[i + 2409] = [aa] * 141
    light_df_tap.loc[i + 241] = [aa] * 141
heavy_df_chen.tail()

,Ab_ID,species,chain_type,1,2,3,3A,4,4A,5,...,119,120,121,122,123,124,125,126,127,128
2425,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,T
2426,V,V,V,V,V,V,V,V,V,V,...,V,V,V,V,V,V,V,V,V,V
2427,W,W,W,W,W,W,W,W,W,W,...,W,W,W,W,W,W,W,W,W,W
2428,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
2429,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [32]:
pd.get_dummies(heavy_df_chen.drop(["Ab_ID", "species", "chain_type"], axis=1)).iloc[:2407]

,1_-,1_A,1_C,1_D,1_E,1_F,1_G,1_H,1_I,1_K,...,128_M,128_N,128_P,128_Q,128_R,128_S,128_T,128_V,128_W,128_Y
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2406,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2407,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2408,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2409,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
oh_chen_heavy = pd.concat([heavy_df_chen[["Ab_ID"]], pd.get_dummies(heavy_df_chen.drop(["Ab_ID", "species", "chain_type"], axis=1))], axis=1).iloc[:2407]

In [54]:
oh_chen_heavy

,Ab_ID,1_-,1_A,1_C,1_D,1_E,1_F,1_G,1_H,1_I,...,128_M,128_N,128_P,128_Q,128_R,128_S,128_T,128_V,128_W,128_Y
0,12e8,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15c8,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1a0q,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1a14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1a2y,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2404,6s5a,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2405,6tyb,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2406,6u1t,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2407,7fab,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2408,8fab,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [55]:
oh_chen_light = pd.concat([light_df_chen[["Ab_ID"]], pd.get_dummies(light_df_chen.drop(["Ab_ID", "species", "chain_type"], axis=1))], axis=1).iloc[:2407]

In [56]:
oh_chen = oh_chen_heavy.merge(oh_chen_light, on="Ab_ID")

In [57]:
oh_chen.head()

,Ab_ID,1_-_x,1_A_x,1_C_x,1_D_x,1_E_x,1_F_x,1_G_x,1_H_x,1_I_x,...,127_M_y,127_N_y,127_P_y,127_Q_y,127_R_y,127_S_y,127_T_y,127_V_y,127_W_y,127_Y_y
0,12e8,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15c8,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1a0q,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1a14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1a2y,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
oh_chen.to_feather(path.join(DATA_DIR, "chen/onehot/chen_onehot.ftr"))

In [59]:
oh_tap_heavy = pd.concat([heavy_df_tap[["Ab_ID"]], pd.get_dummies(heavy_df_tap.drop(["Ab_ID", "species", "chain_type"], axis=1))], axis=1).iloc[:2407]
oh_tap_light = pd.concat([light_df_tap[["Ab_ID"]], pd.get_dummies(light_df_tap.drop(["Ab_ID", "species", "chain_type"], axis=1))], axis=1).iloc[:2407]

In [60]:
oh_tap = oh_tap_heavy.merge(oh_tap_light, on="Ab_ID")

In [62]:
oh_tap.to_feather(path.join(DATA_DIR, "tap/onehot/tap_onehot.ftr"))